# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

pr: none

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  dockerId: lojban
  imageName: 'lojban-server:$(build.buildId)'

steps:
- script: |
    docker login -u $(dockerId) -p $pswd $(dockerId).azurecr.io
    docker build -f Dockerfile -t $(dockerId).azurecr.io/$(imageName) .
    docker push $(dockerId).azurecr.io/$(imageName)
  env:
    pswd: $(dockerPassword)
  displayName: 'docker build'
