@import "general.less";

h3 {
    border-bottom: solid 1px #000;
    margin-bottom: 1em;
    color: #000;
}

.course {
    &:extend(.content);

    /* Style */
    background-color: #8549ba;
}

.course-header {
    &:extend(.content-header);

    /* Style */
    background-color: #8549ba;
    /*background-color: #a560eb;*/
    padding: 40px 40px;
}

.course-header {
    /* Text */
    color: #fff;
}

.course-header .course-title {
    /* Text */
    font-size: 2em;
    font-weight: bolder;
    font-family: "Varela Round";
    /* Border */
    border-bottom: solid 1px #fff;
    display: inline-block;
    /*width: 45%;*/
}

.course-contents {
    /* Style */
    line-height: 1.5em;
    background-color: #fff;
    padding: 10px 30px 30px 30px;
    /* Border */
    border-radius: 0 0 10px 10px;
    /* Text */
    font-size: 1.1em;
    color: #333;
}
