@import "general.less";

.course {
    &:extend(.content);

    /* Style */
    background-color: var(--course-color1);
}

.course-header {
    &:extend(.content-header);

    /* Style */
    background-color: var(--course-color1);
    padding: 2.5em;
    /* Text */
    color: #fff;
}

.course-header {
    @course-info-height: 5.7rem;

    .course-info:before {
        /* Position */
        position: absolute;
        left: -@course-info-height;
        width: @course-info-height;
        height: @course-info-height;
        /* Background */
        background: var(--course-icon);
        background-size: @course-info-height @course-info-height;
        content: "";
    }

    .course-info {
        /* Position */
        position: relative;
        margin-left: calc(@course-info-height + 0.3em);
        padding-left: 2em;
        height: @course-info-height;
    }

    .course-title {
        /* Text */
        font-size: 1.5em;
        font-weight: bolder;
        font-family: "Varela Round";
    }

    .course-lessons-count,
    .course-lessons-count:before,
    .course-lessons-count:after {
        /* Text */
        font-size: 1.2em;
        font-weight: normal;
        font-family: "Helvetica", "Arial", "sans-serif";
    }

    .course-lessons-count:before {
        content: "< ";
    }

    .course-lessons-count:after {
        content: " >";
    }

    .course-lessons-count {
        /* Position */
        margin-top: 0.2em;
        margin-left: 1em;
    }
}

.course-contents {
    /* Style */
    line-height: 1.5em;
    background-color: #fff;
    padding: 10px 30px 30px 30px;
    /* Border */
    border-radius: 0 0 10px 10px;
    /* Text */
    font-size: 1em;
    color: #333;
}

.course-contents h2 {
    border-bottom: solid 1px #000;
    margin-bottom: 0.5em;
    color: #000;
}
