h3 {
    border-bottom: solid 1px #000;
    margin-bottom: 1em;
    color: #000;
}

.lesson {
    /* Position */
    position: relative;
    width: 56%;
    left: 22%;
    width: calc(46% + 20rem);
    left: calc(27% - 10rem);;
    /* Border */
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.04);
    background-color: #8549ba;
}

.lesson-header {
    /* Position */
    margin: 0 0 0 0;
    overflow: auto;
    /* Style */
    /*background-color: #8549ba;*/
    background-color: #a560eb;
    padding: 40px 40px;
    /* Border */
    border-radius: 10px;
}

.lesson-header, .lesson-header a {
    /* Text */
    color: #fff;
}

.lesson-header .lesson-info:before {
    /* Position */
    position: absolute;
    left: -8rem;
    width: 8rem;
    height: 8rem;
    /* Background */
    /* TODO: replace icon */
    background: url(https://image.flaticon.com/icons/svg/207/207473.svg);
    /* https://www.flaticon.com/free-icon/classroom_906175 */
    /*background: url(https://image.flaticon.com/icons/svg/906/906175.svg);*/
    /* https://www.flaticon.com/free-icon/professor_167752 */
    /*background: url(https://image.flaticon.com/icons/svg/167/167752.svg);*/
    /* https://www.flaticon.com/free-icon/books_150360#term=literature&page=1&position=21 */
    /*background: url(https://image.flaticon.com/icons/svg/150/150360.svg);*/
    content: '';
}

.lesson-header .lesson-info {
    /* Position */
    float: left;
    position: relative;
    left: calc(8rem + 0.3em);
    padding-left: 30px;
}

.lesson-header .course-title {
    /* Text */
    font-size: 2em;
    font-weight: bolder;
    font-family: "Varela Round";
    /* Border */
    border-bottom: solid 1px #fff;
    display: inline-block;
    /*width: 45%;*/
}

.lesson-header .lesson-title {
    /* Position */
    margin-top: 1rem;
    /* Text */
    font-size: 1.5em;
    font-family: "Helvetica", "Arial", "sans-serif";
}

.lesson-header .lesson-title span {
    vertical-align: -5%;
    padding: 0 1em;
}

.lesson-header .lesson-title a {
    font-weight: bold;
}

.lesson-header .lesson-buttons {
    /* Position */
    float: right;
    margin-top: 1.3rem; /* tofix: hardcoded */
    margin-right: 1em;
}

.lesson-header a.button {
    /* Position */
    display: inline-block;
    /*width: 9em;*/
    width: 12em;
    text-align: center;
    margin-left: 2em;
    /* Style */
    background-color: #fff;
    border-radius: 98px;
    padding: 0.75em 1.25em;
    /* Text */
    color: #a560eb;
    font-family: "Varela Round";
    font-size: 1.4em;
    font-variant: small-caps;
    font-weight: bold;
}

.lesson-contents {
    /* Style */
    line-height: 1.5em;
    background-color: #fff;
    padding: 10px 30px 30px 30px;
    /* Border */
    border-radius: 0 0 10px 10px;
    /* Text */
    font-size: 1.1em;
    color: #333;
}

.exercise-holder {
    /* Border */
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}
