.content {
    /* Position */
    margin: 0 auto 0 auto;
    width: calc(46% + 20rem);
    max-width: 90%;
    min-width: 60%;
    /* Border */
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
}

.content-header {
    /* Position */
    margin: 0 0 0 0;
    overflow: auto;
    /* Border */
    border-radius: 10px;
}

/* Default course colors */
:root {
    --course-color1: #8549ba;
    /*--course-color1: #7ac70c;*/
    /*--course-color1: #a560eb;*/

    --course-icon: url(https://image.flaticon.com/icons/svg/207/207473.svg);

    /* https://www.flaticon.com/free-icon/classroom_906175 */
    /*--course-icon: url(https://image.flaticon.com/icons/svg/906/906175.svg);*/
    /* https://www.flaticon.com/free-icon/professor_167752 */
    /*--course-icon: url(https://image.flaticon.com/icons/svg/167/167752.svg);*/
    /* https://www.flaticon.com/free-icon/books_150360#term=literature&page=1&position=21 */
    /*--course-icon: url(https://image.flaticon.com/icons/svg/150/150360.svg);*/
    /* https://www.flaticon.com/free-icon/anxiety_1488096#term=express&page=1&position=13 */
    /*--course-icon: url(https://image.flaticon.com/icons/svg/1488/1488096.svg);*/
}
