@import "general.less";

.lesson {
    &:extend(.content);

    /* Style */
    background-color: var(--course-color1);
}

.lesson-header {
    &:extend(.content-header);

    /* Style */
    background-color: var(--course-color1);
    padding: 2.5em;
}

.lesson-header,
.lesson-header a {
    /* Text */
    color: #fff;
}

.lesson-header {
    @lesson-info-height: 5.7rem;

    .lesson-info:before {
        /* Position */
        position: absolute;
        left: -@lesson-info-height;
        width: @lesson-info-height;
        height: @lesson-info-height;
        /* Background */
        background: var(--course-icon);
        background-size: @lesson-info-height @lesson-info-height;
        content: "";
    }

    .lesson-info {
        /* Position */
        float: left;
        position: relative;
        left: calc(@lesson-info-height + 0.3em);
        padding-left: 2em;
    }

    .course-title {
        /* Text */
        font-size: 1.5em;
        font-weight: bolder;
        font-family: "Varela Round";
        /* Border */
        border-bottom: solid 1px #fff;
        display: inline-block;
    }

    .lesson-title {
        /* Position */
        margin-top: 0.8em;
        /* Text */
        font-size: 1.2em;
        font-family: "Helvetica", "Arial", "sans-serif";

        span {
            vertical-align: -5%;
            padding: 0 1em;
        }

        a {
            font-weight: bold;
        }
    }

    .lesson-buttons {
        /* Position */
        float: right;
        margin-right: 1em;

        a.button {
            /* Position */
            display: inline-block;
            /*width: 9em;*/
            width: 12em;
            text-align: center;
            margin-left: 2em;
            /* Style */
            background-color: #fff;
            border-radius: 98px;
            padding: 0.75em 1.25em;
            /* Text */
            color: var(--course-color1);
            font-family: "Varela Round";
            font-size: 1.2em;
            font-variant: small-caps;
            font-weight: bold;
        }
    }
}

.lesson-body {
    /* Style */
    line-height: 1.5em;
    background-color: #fff;
    padding: 10px 30px 30px 30px;
    /* Border */
    border-radius: 0 0 10px 10px;
    /* Text */
    font-size: 1em;
    color: #333;

    h3 {
        margin: 0 0 0.5em 0;
        font-size: 1.55em;
    }

    h4 {
        margin: 0 0 0.5em 0;
        font-size: 1.1em;
        font-weight: bold;
    }

    /* Tabs */
    .lesson-tab-input {
        display: none;
    }

    .lesson-tab-label {
        display: inline-block;
        margin-bottom: -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #abc;
        border: 1px solid transparent;
    }

    .lesson-tab-label:before {
        font-family: fontawesome;
        font-weight: normal;
        margin-right: 10px;
    }

    .lesson-tab-label[for="lesson-tab-lecture"]:before {
        content: "\f02d";
    }

    .lesson-tab-label[for="lesson-tab-plan"]:before {
        content: "\f1cb";
    }

    .lesson-tab-label:hover {
        color: #789;
        cursor: pointer;
    }

    .lesson-tab-input:checked + label {
        color: #0af;
        border: 1px solid #abc;
        border-top: 2px solid #0af;
        border-bottom: 2px solid #fff;
    }

    .lesson-lecture,
    .lesson-plan,
    .lesson-vocabulary {
        display: none;
        border-top: 1px solid #abc;
        padding-top: 20px;
    }

    .lesson-lecture,
    .lesson-plan,
    .lesson-vocabulary {
        font-family: "Open Sans";
        font-size: 1.1em;
        line-height: 1.4em;
    }

    #lesson-tab-lecture:checked ~ .lesson-lecture,
    #lesson-tab-plan:checked ~ .lesson-plan,
    #lesson-tab-vocabulary:checked ~ .lesson-vocabulary {
        display: block;
    }

    .spoiler-answer {
        filter: blur(4px);
        transition-property: -webkit-filter;
        transition-duration: 0.2s;
    }

    .spoiler-answer:hover,
    .spoiler:focus {
        filter: blur(0px);
    }

    .definition-head {
        margin-left: 2em;
        font-weight: bold;
    }

    .definition-head:after {
        content: " = ";
    }

    .hspace {
        margin-left: 2em;
    }

    table {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    th {
        background-color: #ddd;
        text-align: center;
    }

    td, th {
        padding: 0.3em 1em;
        border: solid 1px #000;
    }

    .translation-source {
        margin-top: 0.5em;
        margin-left: 1em;
        font-weight: bold;
    }

    .translation-target {
        margin-top: 0.2em;
        margin-bottom: 0.6em;
        margin-left: 2em;
        font-style: italic;
    }
}

.exercise-holder {
    /* Border */
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    font-size: 1em;
}
