@import url('https://fonts.googleapis.com/css?family=Varela+Round');

button:focus, textarea:focus {
    outline:0 !important;
}

body {
    background-color: #e9e9e9;
    border: 0;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.topbar {
    /* Position */
    position: fixed;
    vertical-align: middle;
    top: 0;
    width: 100%;
    z-index: 1000;
    line-height: 4.8em;
    /* Style */
    background-color: #20a8e9f0;
    vertical-align: middle;
    /* Text */
    padding: 0 3em 0 3em;
    color: #fff;
    text-align: center;
}

.topbar .logo {
    /* Position */
    display: inline;
    margin: 0 30px 0 0;
    /* Text */
    font-size: 2.2em;
    font-family: "Varela Round", "Open Sans";
    font-weight: 600;
    color: #fff;
    height: 100%;
    vertical-align: middle;
}

.topbar ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topbar li {
    display: inline;
    margin-right: 4px;
    padding: 8px 15px;
}

.topbar li.selected, .topbar li:hover {
    background-color: #1493d1;
    border-radius: 98px;
}

/* TODO: make it possible to click anywhere on the rounded box (the "a" should occupy the entire "li") */
.topbar li a {
    font-family: "Open Sans";
    font-weight: bold;
    height: 100%;
    vertical-align: middle;
    color: #fff;
}

.main {
    position: relative;
    top: calc(4.8em);
    margin-top: 40px;
}
