@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Varela+Round:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/5.9.0/css/font-awesome.min.css");

button:focus,
textarea:focus {
    outline: 0 !important;
}

body {
    background-color: #fff;
    border: 0;
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@topbar-height: 4.8em;

.topbar {
    /* Position */
    position: fixed;
    vertical-align: middle;
    top: 0;
    width: 100%;
    z-index: 1000;
    line-height: @topbar-height;
    /* Style */
    background-color: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    /* Text */
    padding: 0 3em 0 3em;
    text-align: center;
}

.topbar {
    .logo {
        /* Position */
        position: absolute;
        left: 1em;
        display: inline;
        margin: 0 1em 0 0;
        /* Text */
        font-size: 2.2em;
        font-family: "Varela Round";
        font-family: Open Sans;
        font-weight: 800;
        color: #fff;
        height: 100%;
        vertical-align: top;
    }

    .logo a {
        color: #fff;
        background: linear-gradient(198.35deg, #9054FF 0%, #8255FE 48.63%, #235FF8 135.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ul {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        margin-right: 0.4em;

        a {
            font-family: "Open Sans";
            font-family: Roboto;
            font-weight: 500;
            font-size: 1.2em;
            height: 100%;
            vertical-align: top;
            color: #757575;
            padding: 0.8em 1.6em;
        }

        a.selected, a:hover {
            color: #9054FF;
        }
    }

    .user-signin {
        position: absolute;
        right: 0;
        display: inline-block;

        a {
            margin-right: 4em;
            font-family: "Open Sans";
            font-weight: bold;
            font-size: 1.2em;
            color: #9054FF;

            background: linear-gradient(198.35deg, #9054FF 0%, #8255FE 48.63%, #235FF8 135.27%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .user-profile {
        @picture-size: 2.5em;

        position: absolute;
        right: 0;
        display: inline-block;
        height: @picture-size;
        margin-top: calc((@topbar-height - @picture-size) / 2);

        a {
            display: inline-block;
            margin-right: 5em;
        }

        img {
            width: @picture-size;
            height: @picture-size;
            border: solid 1px #1493d1;

            border-radius: 50%;
        }
    }
}

.main {
    position: relative;
    top: @topbar-height;
    margin-top: 2.5em;
}

.footer {
    /* Border */
    padding-top: 1.5em;
    border-top: solid 1px rgba(0, 0, 0, 0.54);

    /* Position */
    margin-top: 10em;
    margin-left: 5em;
    margin-right: 5em;
    padding-bottom: 2em;

    .links {
        text-align: center;

        a {
            margin-left: 2em;
            color: rgba(0, 0, 0, 0.54);
        }

        a:hover {
            background: linear-gradient(198.35deg, #9054FF 0%, #8255FE 48.63%, #235FF8 135.27%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
